.vscode/**
.vscode-test/**
src/**
**/*.ts
!dist/**
tsconfig.json
esbuild.mjs
scripts/**
test/**
promo/**
**/*.test.mjs
*.log
**/*.log
.env
.env.*
.gitignore
**/.DS_Store
**/*.map
node_modules/@types/**
node_modules/typescript/**
node_modules/esbuild/**
node_modules/@esbuild/**
