# LiveKit Credentials, keep it as it is for local deployment, don't change it.
LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# Moss Credentials
MOSS_PROJECT_ID=Your moss project id here
MOSS_PROJECT_KEY=Your moss project key here

# AI Provider Keys
OPENAI_API_KEY=Your openai api key here
DEEPGRAM_API_KEY=Your deepgram api key here
CARTESIA_API_KEY=Your cartesia api key here